<div class="control-group">
  <button class="btn btn-primary" data-bind="click: caseLightOnBtnCb">Light On</button>
  <button class="btn btn-primary" data-bind="click: caseLightOffBtnCb">Light Off</button>
</div>

<div class="control-group">
  <button class="btn btn-primary" data-bind="click: ventFanOnBtnCb">Vent Fan On</button>
  <button class="btn btn-primary" data-bind="click: ventFanOffBtnCb">Vent Fan Off</button>
</div>

<div class="control-group">
</div>
